# Do not export these files in the Composer archive (lighter dependency)
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/codeception.yml export-ignore
/phpstan.neon export-ignore
/docs/ export-ignore
/lambda/ export-ignore
/tests/ export-ignore

# Auto detect text files and perform LF normalization
* text=auto