{% extends '_layouts/cp' %}


{% do view.registerAssetBundle('dyerc\\flux\\assetbundles\\FluxAssets') %}

{% set crumbs = [
  { label: 'Settings'|t('app'), url: url('settings') },
  { label: 'Plugins'|t('app'), url: url('settings/plugins') }
] %}

{% set title = 'Flux' %}

{% set tabs = {
  general: {label: 'General Settings'|t('flux'), url: '#general'},
  aws: {label: 'AWS Settings'|t('flux'), url: '#aws'},
  advanced: {label: 'Advanced Settings'|t('flux'), url: '#advanced'},
} %}

{% set fullPageForm = true %}

{% set siteColumn = [] %}
{% if craft.app.getIsMultiSite() %}
  {% set allSiteOptions = [{value: '', label: 'All Sites'|t('flux')}]|merge(siteOptions) %}
  {% set siteColumn = {
    siteId: {
      type: 'select',
      heading: 'Site'|t('flux'),
      options: allSiteOptions,
      thin: true,
    }
  } %}
{% endif %}

{% block actionButton %}

  <a href="{{ url('settings/plugins/flux?wizard=1') }}" class="btn">Run Setup Wizard</a>

  <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

{% endblock %}

{% block main %}

  {# Extracted from cms/src/templates/_layouts/cp.twig #}
  <div id="content" class="content-pane">
    {% set message = craft.app.session.getFlash('flux-reinstall', null, true) %}
    {% if message and message[0] == true %}
      <div class="flux__reinstall-notice">
        <span data-icon="alert" aria-label="Warning"></span>
        Flux needs to be reinstalled to AWS for these setting changes to take effect
      </div>
    {% endif %}

    <header id="content-header" class="pane-header">
      {% include "_includes/tabs" with {
        containerAttributes: {
          id: 'tabs',
        },
      } %}
    </header>

    {% block content %}
      <input type="hidden" name="action" value="flux/settings/save">
      <input type="hidden" name="pluginHandle" value="flux">

      <div id="general">
        {% include 'flux/_settings/general' %}
      </div>

      <div id="aws" class="hidden">
        {% include 'flux/_settings/aws' %}
      </div>

      <div id="advanced" class="hidden">
        {% include 'flux/_settings/advanced' %}
      </div>
    {% endblock %}

    {# footer #}
    {% if footer %}
      <div id="footer" class="flex">
        {{ footer|raw }}
      </div>
    {% endif %}
  </div>

{% endblock %}