:root {
  --vp-c-brand: #FF7C00;
  --vp-c-brand-light: rgb(255 164 61);
  --vp-c-brand-dark: #F06B04;
}

.logo {
  margin-top: -5px;
  margin-right: 12px !important;
}

a[href^="https://packagist.org"] {
  display: inline-block;
  margin-right: 0.5rem;
}