.flux__wizard {
  min-height: 60vh;
}

.flux__logo {
  margin: 1.6rem auto;
}

.flux__intro {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;

  padding-bottom: 2.4rem;
}
.flux__intro h1 {
  font-size: 1.5rem;
}

.flux__step {
  display: flex;
  align-items: flex-start;
  padding: 0 0 2.4rem 0;
}
.flux__step-number {
  width: 200px;
  text-align: center;
  flex-shrink: 0;
}
.flux__step-count {
  display: flex;
  margin: 0.5rem auto;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  background: var(--gray-100);
}
.flux__step-description {
  display: block;
  margin: 0 auto;
  max-width: 140px;
}
.flux__step-instruct {
  padding: 1rem 0;
}
.flux__step--last {
  border-bottom: 1px solid var(--gray-100);
}

.flux__wizard button.submit {
  margin: 0 0 1.6rem 200px;
}

.user-policy-modal .body {
  max-height: 100%;
  overflow: scroll;
}

.path-preview {
  background-color: var(--gray-050);
  border: 1px solid var(--hairline-color);
  box-shadow: none;
  border-radius: var(--large-border-radius);
  margin: 1rem 0 1rem 6px;
  padding: 6px;
}

.flux__step-instruct .split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.6rem;
  margin: 24px 0;
}
.flux__step-instruct .split .field {
  margin: 0;
}